@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title>Angular Book App</title>
</head>
<body>
<p>Welcome to the Single Page Angular Book Application</p>
</body>
</html>